@charset "utf-8";

$bg-color: #000000;
$text-color: #ffffff;
$primary-color: #007BFF;
$secondary-color: #6c757d;
$font-family-base: 'Arial', sans-serif;

$button-bg-color: #77383d;
$popup-bg-color: #21606b;

$border-color: #ccc;
$player-bg: #f0f8ff;
$computer-bg: #fff0f5;


html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    font-family: $font-family-base;
    background-color: $bg-color;
    color: $text-color;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-image: url('../image/dice-games.webp');
    padding: 20px 40px;
    min-height: 140px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.out {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    background-color: #ffffff;
    color: #000;
    min-height: 100vh;
}

#game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 2px solid $border-color;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 960px;

    #player, #computer {
    flex: 1;
    min-width: 280px;
    background-color: $player-bg;
    border: 1px solid $border-color;
    border-radius: 8px;
    padding: 20px;
    text-align: center;

    &:nth-child(2) {
        background-color: $computer-bg;
    }

    h2 {
        margin: 0 0 20px 0;
    }

    .dice {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;

        .dice-img {
        width: 50px;
        height: auto;
        }
    }

    p {
        margin: 10px 0;
        font-size: 16px;

        span {
        font-weight: bold;
        }
    }
    }
}

.fixed-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    button {
        padding: 10px 20px;
        background-color: $button-bg-color;
        color: $text-color;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        transition: background-color 0.3s ease;
    }
}

.rule-tips {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    margin-top: 100px;
    

    #play-rules, #game-rules {
      flex: 1 1 45%; 
      display: none;

  
      h2 {
        color: $primary-color;
        margin-top: 0;
      }
  
      ul {
        list-style-type: disc;
        padding-left: 20px;
      }
  
      li {
        text-align: left;
        margin-bottom: 10px;
      }
  
      p {
        margin-top: 10px;
      }
    }
}


#winner-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
    min-height: 60px;
    background-color: $popup-bg-color;
    color: $text-color;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    opacity: 0;

    &.visible{
        pointer-events: auto;
        opacity: 1;
        transition: opacity 2s linear;

        button {
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            margin: 5px;
            background-color: #e7aee9;
            color: #000;
            transition: background-color 0.3s ease;
        }
    
        #close-btn{
            background-color: white;
            color:#5a3f3f;
            border-radius: 50%;
            font-weight: bold;
            border:solid 3px #5a3f3f;
            cursor:pointer;
            position:absolute;
            top:-10px;
            right:-10px;
        }
    }

    .popup-image{
        width: 18px;
        height: 18px;
    }
}


@mixin button-style($bg-color: $button-bg-color, $text-color: $text-color){
    padding: 10px 20px;
    background-color: $bg-color;
    color: $text-color;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: 20px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($bg-color, 10%);
    }
}

#roll-button,
#reset-button {
    @include button-style;
}

@media (min-width:700px){
	#pop-up{
		font-size:2em;
	}
}

//test

//public
